$bgHeader: #f3f4f4;
$mainLightGreen: #599f2f;
$mainDarkGreen: #3b6022;
$mainLightGray: #f2f6f8;
$mainExtraLightGray: #e1e1e1;
$mainDarkBlack: #000000;
$mainMediumLightGray: #e5ecf1;
$mainDarkGray: #d2d2d2;
$mainLightRed: #ff0000;
$mainLightBlue: #3ca0cf;
$mainFontColor: #333;