.active {
    
    &__nav {
       background-color: rgba(255,255,255, .1);
        box-shadow:inset 5px 0px 1px 0px rgba($mainLightGreen, 0.8);
        color: $mainLightGreen;
         
        & > span {
/*            background-color: $mainLightGreen;*/
            padding: 5px 20px 5px 0px;
            text-align: center; 
            position: relative;
            color: $mainLightGreen;
            margin: 0 20px 0 0;
            
            & > svg {
                position: absolute;
/*                top: 50%;*/
                left: 50%;
                transform: translateX(-50%);
            }
        }
        
        & > svg {
            color: $mainLightGreen;
        }
    }
}