.form {
     display: block;
     margin-top: 1.875rem;
    position: relative;
    
    &__group {
        margin: 3.125rem 0;
        font-size: .9375rem;
        position: relative;
        
        &--file {
            background-color: $mainLightGray;
            border: 1px dashed $mainDarkGray;
        }
    }
    
     &__opt {
        padding: .5px 0;
         background-color: $mainLightGreen;
         margin-bottom: 20px;
         box-shadow: 0px 0px 4px 0px rgba($mainLightGreen, 0.25);
         -o-box-shadow: 0px 0px 4px 0px rgba($mainLightGreen, 0.25);
         -webkit-box-shadow: 0px 0px 4px 0px rgba($mainLightGreen, 0.25);
         -moz-box-shadow: 0px 0px 4px 0px rgba($mainLightGreen, 0.25);
         -ms-box-shadow: 0px 0px 4px 0px rgba($mainLightGreen, 0.25);
    }
    
    &__desc {
        color: rgba($mainDarkBlack, .55);
        
        &--file {
            position: absolute;
            left: 40%;
            transform: translateX(-40%);
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    &__file {
        position: relative;
        cursor: pointer;
        opacity: 0;
        width: 100%;
        padding: 20px 0;
    }
    
    &__text {
        border: none;
        outline: none;
/*        background-color: $bgHeader;*/
        border-bottom: 1px solid $mainDarkGray;
        width: 100%; 
        padding: 10px 0px;
        margin: 0 auto;
        
        &--sm {
            width: 50%;
            padding: 10px 5px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            
        }
    }
    
    &__select {
        width: 100%;
        border: none;
        outline: none;
        padding: .625rem 0px;
        font-size: .875rem;
        border-bottom: 1px solid $mainDarkGray;
        color: $mainFontColor;
    }
    
    &__textarea {
        width: 100%;
        resize: vertical;
        border: 1px solid $mainDarkGray;
        margin: 30px 0 0 0;
    }
    
    &__edoc {
        display: block; 
        z-index: 1;
        transition: all .3s ease-in;
        
        &--hide {
            display: none; 
            z-index: 0;
            transition: all .3s ease-in;
        }
    }
    
}