.icon {
    &__rotate {
        & > svg {
            transform: rotate(180deg);
        }
    }
    
    &__site-header--search {
        font-size: 1.25rem;
        position: absolute;
        color: #fff;
        top: 25%;
        transform: translateY(-25%);
        left: 50%;
        transform: translateX(-50%);
        
    }
    
    &__site-header--clock {
         font-size: 1.6rem;
         margin: 0 20px 0 20px;
         color: rgba($mainDarkBlack, .5);
        position: relative;
        cursor: pointer;
    }
    
    &__site-header--mail {
        font-size: 1.6rem;
        margin:  0 20px 0 20px;
        cursor: pointer;
        color: rgba($mainDarkBlack, .5);
    }
    
    
    &__site-header--arrow {
        position: absolute;
        right: 0; 
        
        @mixin atMedium {
            right: -16px; 
        }
    }
    
    &__site-main--pen {
        margin-right: 10px;
    }
    
    &__site-main--item {
        margin-right: 25px;
    }
    
    &__site-main--item__angle {
        margin-left: 10px;
    }
    
    &__site-main--chat {
        margin-right: 20px;
    }
    
    &__site-main--plane {
        margin-right: 10px;
        position: absolute;
        left: 5px;
        color: rgba($mainFontColor, .8);
    }
    
    &__site-main--plane__rec {
        transform: rotate(-180deg);
    }
    
    &__site-header--acc__user {
        margin: 0 5px;
        color: rgba($mainDarkBlack, .45);
    }
    
    &__site-header--acc__sets {
        margin: 0 8px;
        color: rgba($mainDarkBlack, .54);
    }
    
    &__site-main--content__pen {
        margin-right: 10px;
        color: $mainLightGreen;
    }
    
    &__site-main--form__icon {
        margin-right: 20px;
    }
    
    &__site-compose--file {
        margin-right: 10px;
        color: $mainFontColor;
    }
    &__mymemo--filter__search {
        position: absolute;
        top: 13px;
        left: 90%;
        transform: translateX(-90%);
        color: $mainDarkGray;
        
        @mixin atSmall {
            left: 82%; 
            transform: translateX(-82%);
        }
        
        @mixin atMedium {
            left: 72%;
            transform: translateX(-72%);
        }
    }
    
    &__mymemo--filter__arrow {
        margin-left: 10px;
    }
    
    &__mymemo--filter__memo {
        color: #fff;
    }
    
    &__mymemo--filter__caret {
        position: absolute;
        right: 10px;
        top: 25%;
        transform: translateY(-25%);
    }
    
     &__mymemo--filter__all {
        margin-right: 10px;
        margin-left: 5px;
         
         &--fwd {
             color: rgba($mainDarkBlack, .5);
         }
         
         &--del {
             color: $mainLightRed;
         }
    }
    
    &__mymemo--msg {
        margin-right: 5px;
    }
    
    &__mymemo--msg__title {
        &--edit {
            color: rgba($mainDarkBlack, .5);   
/*            margin-right: 20px;*/
        }
        &--reply {
            color: $mainLightGreen; 
/*            margin-right: 20px;*/
        }
        &--del {
            color: $mainLightRed; 
        }
        
        &--list {
             margin-right: 10px; 
        }
    }
    
    &__mymemo--msg__btn--icn {
        margin-right: 10px; 
        
        &__share {
            color: $mainLightGreen; 
        }
    }
    
    &__mymemo--filter__close {
        margin-right: 5px; 
    }
    
    &__mymemo--fwd__search {
        position: absolute;
        color: rgba($mainLightGreen, .5);  
        right: 20px;   
        top: 50%; 
        transform: translateY(-50%); 
    }
    
    &__mymemo--icn {
        margin-right: 5px;
    }
    
    &__view--icn {
        margin-right: 5px;
    }
    
    &__dash--icn {
        font-size: 4.375rem;     
    }
    
    &__dash--footer__icn {
        float: right; 
    }
}