.site-header {
    display: block;
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 3;
    
    
    &__logo {
        max-width: 300px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        
        &--shade {
            position: absolute;
            width: 2px;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(#fff, .15);
            box-shadow: 1px 0px 1px 2px rgba($mainDarkGray, .9);
            -o-box-shadow: 1px 0px 1px 2px rgba($mainDarkGray, .9);
            -ms-box-shadow: 1px 0px 1px 2px rgba($mainDarkGray, .9);
            -webkit-box-shadow: 1px 0px 1px 2px rgba($mainDarkGray, .9);
            -moz-box-shadow: 1px 0px 1px 2px rgba($mainDarkGray, .9);
        }
        
        &--sm {
            display: block;
              
            @mixin atLarge {
                display: none;
            }          
            
            &__hide {
                display: none;
            }
        }
        
        
        @mixin atLarge {
            box-shadow: 0px 1px  .5px 1px rgba($mainDarkGray, .55);
        }

    }
    
    &__content {
        position: relative;
        width: 100%;
        padding: 0 0 0 160px; 
        display: block;
        background-color: rgb(255, 255, 255);
        
        &--img {
            display: block;
        }

        &--wrapper {
            width: 100%;
            background-color: #fff;
            @mixin clearfix;
            padding: 24.5px 10px 24.5px 28px; 
            
            @mixin atLarge {
                box-shadow: 0px 1px  .5px 1px rgba($mainDarkGray, .5);
                border-bottom: 1px solid rgba($mainLightGreen, .4);
            }
        }
        
        &--nav {
            position: absolute;
            left: 120px;  
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.125rem;
            background-color: $bgHeader;
            padding: 10px;
            color: rgba($mainFontColor, .6);
            
            @mixin atLarge { 
                display: none;  
            }
        }
        
        &--form {
            position: relative;
            font-size: .9375rem;
            padding: 0;
            margin: 0;
            width: 60%;
            float: left;
            border-radius: 5px; 
      
            &__input {
                padding: 14px 52px 14px 10px;
                width: 100%;
                margin: 0;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                border: 1px solid $mainDarkGray;
                background-color: #fff;
            }
            
            &__submit {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($mainDarkGray, .4);
                padding: 0 25px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                cursor: pointer;
            }
            
            @mixin atMedium {
                width: 45%;
            }
        }
              
.flexbox &--notify {
            position: absolute;
           left: 62%;
            transform: translateX(-62%);
            top: 0;
            bottom: 0;
            margin: 0 40px;
            background-color: rgba($mainDarkGray, .15);
            padding: 0;
            list-style: none;
            @mixin clearfix;
            display: flex;
            align-items: center;
/*            border: 1px solid $mainLightGray;  */
            border: 1px dotted $mainDarkGreen;
            border-bottom: none;
            opacity: 0;
            visibility: hidden; 
            
            li {
                float: left;
                
                &:first-child {
                    border-right: 2px solid $mainDarkGray;
                }
                
                &:last-child {
                    width: 100%;
                    position: absolute;
                    height: 2px;
                    top: 0 ;
                    background-color: $mainLightGreen;
                    box-shadow: 0px -1px 40px 2px rgba($mainDarkGreen, .6)
                }
            }
            
            @mixin atSmall {
                left: 65%; 
                transform: translateX(-65%);  
                margin: 0 40px; 
            }
            
            @mixin atMedium {
                left: 68%;
                transform: translateX(-68%);  
                margin: 0 40px; 
                opacity: 1;
                visibility: visible;
            }
            
            @mixin atLarge {
                left: 72%;
                transform: translateX(-72%);
            }
        }
        
        &--account {
            position: absolute;
            right: 50px;
            top: 50%;
            transform: translateY(-50%);
/*            background-color: blue; */
            
            &__details {
                max-width: 140px;  
                position: relative;
                top: 0px;
                padding: 2px; 
                padding-right: 30px; 
                
                &--name {
                    position: relative;
                    width: 40px;
                    
                    & > h4 {
                        white-space: nowrap;
                        word-wrap: break-word;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: 400;
                        color: $mainLightGreen;
                        cursor: pointer;
                        display: none;
                        
                        @mixin atSmall {
                            display: block;
                        }
                    }
                    
                    &__settings {
                        position: absolute;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        width: 100px;
                        background-color: #fff;
                        font-size: .875rem;
                        z-index: 1;
                        top: 40px;
/*                        left: 0;*/
/*                        right: 0;*/
/*                        box-shadow: 0 1px 9px rgba($mainDarkGreen, .9);*/
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s ease-in;
                        border: 1px solid $mainDarkGray;
                        
                        li {
                            padding: 10px 0;
                            text-align: center;
                            cursor: pointer;
                            
                            &:first-child {
                                border-bottom: 1px solid rgba($mainDarkGreen, .95)
                            }
                            
                            &:hover {
                                background-color: $mainLightGray;
                            }
                        }
                        
                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            top: 20px; 
/*                            box-shadow: 0 1px 9px rgba($mainDarkBlack, .5);*/
                            transition: all .3s ease-in;
                            
                        }
                    }
                    
                    @mixin atSmall {
                        width: 50px;
                    }
                        
                    @mixin atMedium {
                        width: 70px;
                    }
                    
                    @mixin atLarge {
                        width: 80px;
                    }
                    
                }
               
                &--img {
                    position: absolute;
                    height: 50px;
                    width: 50px;
                    border-radius: 25px;
                    background-color: $mainLightGray;
                    top: 50%;
                    transform: translateY(-30%); 
                    right: -30px;
                    transform: translateY(-50%);
                    
                    @mixin atMedium {
                        right: -40px;
                    }
                }
                
            }
  
        }

        @mixin atLarge {
            padding: 0 0 0 300px;
        }
    }
}